<footer class="footer">
  <a class="footer-logo" href="/">
    <img src="/images/logo.png" alt="Learn Enough">
  </a>
  <nav>
    <ul class="footer-nav nav-links">
      {% include nav-links.html%}
    </ul>
    <ul class="social-list">
      <li>
        <a href="https://facebook.com/learnenough" class="social-link">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/learnenough" class="social-link">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/learnenough" class="social-link">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  </nav>
  <h3>Learn Enough <span>to Be Dangerous</span></h3>
</footer>
